<!-- Articles grid for all -->

<div>
    <title>News</title>
    <h1>Actualités</h1>

        <div class="row full grid">
            <figure class="col-4" data-groups='["Apragmatisme"]' data-date-created="" data-title="Apragmatisme">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img src="" alt="visuel thème 1 : Apragmatisme">
                    </div>
                </div>
            <figcaption>Apragmatisme</figcaption>
    </figure>

        <figure class="col-4" data-groups='["Hallucinations"]' data-date-created="" data-title="Halucinations">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 2 : Hallucinations">
                </div>
                    <figcaption>Hallucinations</figcaption>
                </div>
        </figure>

        <figure class="col-4" data-groups='["Isolement"]' data-date-created="" data-title="Isolement">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 3 : Isolement">
                </div>
                <figcaption>Isolement</figcaption>
                </div>
        </figure>

        <figure class="col-4" data-groups='["Comportements non adaptés"]' data-date-created="" data-title="Comportements non adaptés">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 4 : Comportements non adaptés">
                </div>
                <figcaption>Comportements non adaptés</figcaption>
            </div>
        </figure>

        <figure class="col-4" data-groups='["Difficultés de communication"]' data-date-created="" data-title="Difficultés de communication">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 5 : Difficultés de communication">
                </div>
                <figcaption>Difficultés de communication</figcaption>
                </div>
        </figure>

            <figure class="col-4" data-groups='["Déni et anosognosie"]' data-date-created="" data-title="Déni et anosognosie">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img src="" alt="visuel thème 6 : Déni et anosognosie">
                    </div>
                    <figcaption>Déni et anosognosie</figcaption>
                </div>
            </figure>

        <figure class="col-4" data-groups='["Refus des traitements"]' data-date-created="" data-title="Refus des traitements">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 7 : Refus des traitements">
                </div>
                <figcaption>Refus des traitements</figcaption>
            </div>
        </figure>

        <figure class="col-4" data-groups='["Effets indésirables"]' data-date-created="" data-title="Effets indésirables">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 8 : Effets indésirables">
                </div>
                <figcaption>Effets indésirables</figcaption>
                </div>
        </figure>

        <figure class="col-4" data-groups='["Consommation de toxiques"]' data-date-created="" data-title="Consommation de toxiques">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 9 : Consommation de toxiques">
                </div>
                <figcaption>Consommation de toxiques</figcaption>
                </div>
        </figure>

        <figure class="col-4" data-groups='["Stigmatisation, honte"]' data-date-created="" data-title="Stigmatisation, honte">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 10 : Stigmatisation, honte">
                </div>
                <figcaption>Stigmatisation, honte</figcaption>
                </div>
        </figure>

        <figure class="col-4" data-groups='["Représentations"]' data-date-created="" data-title="Représentations">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 11 : Représentations">
                </div>
                <figcaption>Représentations</figcaption>
                </div>
        </figure>

        <figure class="col-4" data-groups='["Relation avec les équipes de soin"]' data-date-created="" data-title="Relation avec les équipes de soin">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 12 : Relation avec les équipes de soin">
                </div>
                <figcaption>Relation avec les équipes de soin</figcaption>
                </div>
        </figure>

        <figure class="col-4" data-groups='["Et moi dans tout cela ?"]' data-date-created="" data-title="Et moi dans tout cela ?">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 13 : Et moi dans tout cela ?">
                </div>
                <figcaption>Et moi dans tout cela ?</figcaption>
                </div>
        </figure>

        <figure class="col-4" data-groups='["Famille"]' data-date-created="" data-title="Famille">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 14 : Famille">
                </div>
                <figcaption>Famille</figcaption>
            </div>
        </figure>

        <figure class="col-4" data-groups='["Hospitalisation"]' data-date-created="" data-title="Hospitalisation">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 15 : Hospitalisation">
                </div>
                <figcaption>Hospitalisation</figcaption>
                </div>
        </figure>

        <figure class="col-4" data-groups='["Contrainte"]' data-date-created="" data-title="Contrainte">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 16 : Contrainte">
                </div>
                <figcaption>Contrainte</figcaption>
                </div>
        </figure>

        <figure class="col-4" data-groups='["Epuisement"]' data-date-created="" data-title="Epuisement">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 17 : Epuisement">
                </div>
                <figcaption>Epuisement</figcaption>
                </div>
        </figure>

        <figure class="col-4" data-groups='["Argent"]' data-date-created="" data-title="Argent">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 18 : Argent">
                </div>
                <figcaption>Argent</figcaption>
            </div>
        </figure>

        <figure class="col-4" data-groups='["Démarches administratives"]' data-date-created="" data-title="Démarches administratives">
            <div class="aspect aspect--16x9">
                <div class="aspect__inner">
                    <img src="" alt="visuel thème 19 : Démarches administratives">
                </div>
                <figcaption>Démarches administratives</figcaption>
                </div>
        </figure>

    <figure class="col-4" data-groups='["Vulnérabilité"]' data-date-created=""
        data-title="Vulnérabilité">
        <div class="aspect aspect--16x9">
            <div class="aspect__inner">
                <img src="" alt="visuel thème 19 : Vulnérabilité">
            </div>
            <figcaption>Vulnérabilité</figcaption>
            </div>
        </figure>
    <div class="col-1 my-sizer-element"></div>
</div>


<app-ebref></app-ebref>

