<p>liens works!</p>
<!-- liens vers l'extérieur -->
<!-- Bloc Glossaire -->
<div class="row">
  <div class="col-sm-1-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Title</h3>
        <p class="card-text">Text</p>
      </div>
    </div>
  </div>
  <div class="col-xs-1-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Title</h3>
        <p class="card-text">Text</p>
      </div>
    </div>
  </div>
</div>

<!-- end bloc glossaire -->
<!-- Blog Géoloc -->
<form action="" method="post">
    <input type="text/postcode" name="" required>Tapez le nom de la ville ou le code postal
    <i class="fas fa-map-signs    ">Maps google api</i>
</form>

<!-- end bloc géoloc -->
<!-- Bloc Faves -->
<a href="">Favori 1<img src=""></a>
<a href="">Favori 2<img src=""></a>
<a href="">Favori 3<img src=""></a>
<a href="">Favori 4<img src=""></a>

<!-- end bloc faves -->
<!-- Bloc FAQ -->
<p>
    bloc texte Q/R
    blog description programme bref
    infos contact
    partenaires (logos)
</p>

<!-- end bloc faq -->