<p>patients-single works!</p>

<body>
    <header>
        <img src="" alt="thème visuel">
    </header>
    <section>
        <h1>Titre</h1>
        <span>Auteur :</span>
        <span style="display:inline">Publié le :</span>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            A, dignissimos earum, accusamus, nostrum expedita culpa ipsam voluptatum reprehenderit tempore itaque molestiae eveniet placeat consequuntur quis dolores animi! 
            Doloremque, hic vitae!
        </p>
        <p>Partagez via</p>
        <i class="fas fa-facebook-messenger">Messenger</i>
        <i class="fab fa-whatsapp" aria-hidden="true">Whatsapp</i>
        <i class="fas fa-at" aria-hidden="true">Email</i>

    </section>
</body>

<app-patients-single></app-patients-single>