<p>patients-single works!</p>
<!-- page d'un article -->
<body>
    <header>
        <img src="" alt="thème visuel">
    </header>
    <section *ngFor="let article of articles">
        <h1>{{article.title}}</h1>
        <span>Auteur :{{article.author}}</span>
        <span style="display:inline">Publié le :{{article.date |date("m/d/Y")}}</span>
        <p>
            {{article.content}}
        </p>
        <p>Partagez via</p>
        <i class="fas fa-facebook-messenger">Messenger</i>
        <i class="fab fa-whatsapp" aria-hidden="true">Whatsapp</i>
        <i class="fas fa-at" aria-hidden="true">Email</i>

    </section>
</body>

<app-patients-single></app-patients-single>